body{
    margin:0;
    font-family: Oswald,Arial,Helvetica,sans-serif;
    background:#FDF3D0;
    display:flex;
}

.sidebar{
    width:240px;
    background:#e8e8e8;
    padding:20px;
    min-height:100vh;
    border-right:1px solid #ccc;
}

.sidebar a{
    display:block;
    padding:8px;
    text-decoration:none;
    color:#FBE6A3;
}

.sidebar a:hover{
    background:#d7d7d7;
}

.content{
    flex:1;
    padding:40px;
    background:#abb369;
}

h1{
    border-bottom:2px solid #ccc;
    padding-bottom:10px;
}
